.body {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:30px;
    width: 600px;
}
.bodyc {
    background-color: #0a0b2f;
}
.colorf {
    color :#64edff;
}
.borderc {
    border-width:1px;
    border-color:#fff;
    border-radius: 5px;
}
li {
    width:500px;
}
.edit,.delete:hover {
    cursor:pointer;
}